@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&family=Source+Sans+3:wght@300&display=swap');

html,
body,
#root,
.app,
.content {
  height:100%;
  width : 100%;
  font-family: 'Nunito', sans-serif;
  overflow: auto;
}

.app{
  display:flex;
  position:relative
}

::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}