@import url("https://use.typekit.net/wsz7skn.css");

html,
body,
#root,
.app,
.content {
  height:100%;
  width : 100%;
  font-family: 'proxima-nova', sans-serif;
  overflow: hidden;
}

.app{
  display:flex;
  position:relative
}

::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}